## Copy the variables listed here to .env and provide values

# MariaDb Environment Variables
MARIADB_HOST=localhost
MARIADB_DATABASE=steam
MARIADB_USER=steam
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

# Steam API Variables
STEAM_ID=
STEAM_API_KEY=